@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

#app{
  width: 100% !important;
 padding: 0 !important;margin: 0 !important; display: flex !important;flex-direction: column !important;justify-content: center !important;align-items: center !important;

}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
